<header class="navigation-bar">
    <h1 class="title">
    <span class="fa fa-book">
        <label class="label" for="account">家計簿</label>
    </span>
    <select class="title-select" id="account" name="account">
        <option selected value="537f78a6-e5bb-38a7-7996-93a88bf61541">家計簿1</option>
        <option>家計簿2</option>
    </select>
    </h1>
    <button type="button" class="btn-left fa fa-clock-o page-open" data-target="page-show-records"></button>
    <button type="button" class="btn-right fa fa-bars" onClick=""></button>
</header>
